/* You can add global styles to this file, and also import other style files */
body{
    background: #BFD7EA;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css"
